.addBlock{
    margin-top: 15px;
}
.inp{
    margin-right: 15px;
    width: 200px;
    font-size: 13px;
    padding: 6px 0 6px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
.inputPrice{
    width: 70px;
}
.addButton{
    margin-left: 20px;
    display: inline-block;
    text-shadow: 1px 1px #fff;
    text-decoration: none;
    padding: .3em 1em;
    border: 1px solid #aaa;
    border-radius: 100px;
    outline: none;
    background: #d6dbbf no-repeat;
    background-image:
            linear-gradient(to left, #aaa, #aaa),
            linear-gradient(to left, #feffe8, #feffe8),
            linear-gradient(#feffe8, #d6dbbf);
    background-position: calc(100% - 2.7em) 0, calc(100% - 2.7em + 1px) 0, 0 0;
    background-size: 1px 100%, 1px 100%, auto auto;
    overflow: hidden;

}
.addButton:after{
    content: "\bb";
    position: relative;
    bottom: 0;
    display: inline-block;
    margin-left: 1.4em;
    vertical-align: middle;
    font-family: "Times","Times New Roman","serif","sans-serif","EmojiSymbols";
    font-weight: 700;
    font-size: 140%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.addButton:hover{
    background-color: #fdfd9f;
    background-image:
            linear-gradient(to left, #aaa, #aaa),
            linear-gradient(to left, #feffe8, #feffe8),
            linear-gradient(#fffce7, #fdfd9f);
}
.addButton:active{
    bottom: -1.2em;
    transition: .3s;
}