p{
    display: inline-block;
    margin:20px;
}
.priceProduct{
    margin-left: auto;
}
li{
    display: flex;
    list-style-type: none;
}
.fas{
    color: black;
    font-size: 20px;
    margin-left: 30px;
}
